@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

button {
  @apply px-4 py-1 rounded-md text-sm inline-flex gap-1 items-center mx-1;
}

.btn-default {
  @apply bg-gray-500 text-white;
}

.btn-primary {
  @apply bg-primary text-white;
}

.btn-red {
  @apply bg-red-900 text-white;
}

.btn-green {
  @apply bg-green-900 text-white;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  @apply mb-2 text-xl text-primary;
}

label {
  @apply text-sm text-gray-600;
}

input,
textarea,
select {
  @apply border border-gray-900 rounded-md px-3 py-2 w-full mb-2;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-primary;
}

table.basic {
  @apply w-full bg-white shadow-md;
}

table.basic thead tr td {
  @apply bg-highlight uppercase text-sm px-4 py-2;
}

table.basic tr td {
  @apply border py-1 px-4;
}

table.basic a {
  @apply btn-primary text-white text-sm px-4 rounded-md py-1 inline-flex gap-1 items-center mx-1;
}

table.basic a.red {
  @apply bg-red-900;
}
